@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app{
  background-color: #35464f;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.title{
  display: flex;
  justify-content: center;  
}
.slider {
  position: relative;
  /* max-width: 500px; */
  width: 100vw;
  margin: 0 auto;
  height: 60vh;
  overflow: hidden;
  white-space: nowrap; 
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 5000px;
  left: 25%;
}

.slide {
  display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 100%;
    width: 11%;
    margin: 0 200px;
}

.arrow {  
  cursor: pointer;
  transition: transform ease-in .1s;
}

.next {
  position: fixed;
  top: 30%;
  right: 32%;
  z-index: 999;
  color: #fff;
}

.back {
  position: fixed;
  top: 30%;
  left: 32%;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

.description{
  max-width: 300px;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
@media (min-width: 1200px) and (max-width: 1600px){ 
  .slider-wrapper{
    left: 21%;
  }
  .next {
    right: 31%;
  } 
}
@media (max-width: 1200px){
  .slide {
    margin: 0 10vw;
  } 
}
@media (min-width: 979px) and (max-width: 1200px){ 
  .slider-wrapper{
    left: 16.5%;
  }
  .slide {
    margin: 0 10vw;
  } 
}
 

@media (min-width: 767px) and (max-width: 979px){ 
  .slider-wrapper{
    left: 10%;
  } 
  .slide {
    margin: 0 125px;
  }     
}

@media  (min-width: 480px) and (max-width: 767px) 
{
 .slider-wrapper{
    left: 0;
  }
  .slide {
    margin: 0 125px;
  }  
	.back{
    left: 5%;
  }
  .next {
    left: 95%;
  }
}

@media (max-width: 480px) 
{
  .slider-wrapper{
    left: -25%;
  }  
  .slide {
    margin: 0 125px;
    max-width: 470px;
  } 
  .back{
    left: 5%;
  }
  .next {
    left: 95%;
  }
} 